# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log

# Secrets / signing
*.pem
*.crt

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
