<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input
    placeholder="Username"
    fill="solid"
    class="ion-margin-bottom"
  ></ion-input>
  <ion-input
    placeholder="Password"
    fill="solid"
    type="password"
    class="ion-margin-bottom"
  ></ion-input>
  <ion-button (click)="onLogin()" shape="round" expand="block"
    >Login</ion-button
  >
  <div style="position: absolute; bottom: 16px; right: 16px">
    <ion-button (click)="onReset()" shape="round"
      ><ion-icon slot="icon-only" name="refresh"></ion-icon
    ></ion-button>
  </div>
</ion-content>
